body main .Compra {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 2rem;
  background-color: var(--boxsecond);
  backdrop-filter: blur(10px);
}
body main .Compra .comprar {
  padding: 0.7rem;
}
body main .Compra p {
  margin-bottom: 2rem;
}
body main .Compra div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  body main .Compra {
    top: 4rem;
  }
}
@media (max-width: 758px) {
  body main .Compra {
    margin-top: 18rem;
  }
}
