@media(min-width:768px) {
    .background-image {
        background-attachment: fixed;
    }    
}    
.background-image {
    height: 75vh;
    background-image: url(../img/background.webp);
    background-size: cover;
    background-position: center center;
}    
.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.games__box {
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--neon);
}
.games__box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.games__box .games__content {
    position: relative;
    z-index: 1;
}


.games__content {
    margin: 4% 4% 1% 4%;
}

.games__box {
    background-color: var(--second);
    border-radius: 1rem;
    margin: 1rem;
}


.games__img {
    height: 23%;
    width: 100%;
    border-radius: 0.7rem;
}
.games__box:hover .games__content {
    z-index: 2;
}
.games__tittle{
    text-wrap: nowrap;
    overflow: ellipsis;
    font-weight: 700;
}
.games__text{
    font-weight: 400;
}