.Info {
    display: flex;
    flex-direction: column;
}

.Info__text {
    margin: 0rem 1rem;
}

.Articulos-Tittle {
    margin: 1rem 0rem 0rem 0rem;
}

.Articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}


@media (max-width: 720px) {
    .Articulos {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .Articulos-Tittle {
        margin: 1rem;
        margin-top: none;
    }
}