main .carrito {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
main .carrito .box {
  margin: 0% 5%;
  padding: 0rem 2rem 2rem 2rem;
  background-color: var(--boxsecond);
  backdrop-filter: blur(10px);
}
main .carrito .box .carrito__title {
  text-align: center;
  margin: 1rem;
  font-size: 1.7rem;
}
main .carrito .box .carrito__container .carrito__item {
  display: flex;
  gap: 1rem;
  object-fit: contain;
  margin-bottom: 2rem;
}
main .carrito .box .carrito__container .carrito__item .carrito__item-image {
  width: auto;
  height: 190px;
  object-fit: contain;
}
main .carrito .box .carrito__container .carrito__item-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
main .carrito .box .carrito__container .carrito__item-quantity label {
  font-size: 1.2rem;
}
main .carrito .box .carrito__container .carrito__item-quantity input {
  margin-bottom: 1rem;
}
main .carrito .box .carrito__container .button {
  font-size: 1.2rem;
  font-weight: 700;
}
main .carrito .box .carrito__summary h3 {
  text-align: center;
  margin: 1rem 0rem;
  font-size: 1.7rem;
}
@media (max-width: 768px) {
  main .carrito {
    margin-top: 12rem;
  }
}
