body main .Compra {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 2rem;
  background-color: var(--boxsecond);
  backdrop-filter: blur(10px);
}
body main .Compra h2 {
  margin-bottom: 1.5rem;
}
body main .Compra .comprar {
  padding: 0.7rem;
}
body main .Compra .Compra_flex {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
body main .Compra .Compra_categoria,
body main .Compra .Compra_plataforma,
body main .Compra .Compra_cantidad {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
body main .Compra .Compra_categoria strong,
body main .Compra .Compra_plataforma strong,
body main .Compra .Compra_cantidad strong {
  display: block;
  font-size: 23px;
  font-weight: 700;
}
body main .Compra .Compra_cantidad {
  margin-bottom: 2rem;
}
body main .Compra .Compra_description {
  line-height: 1.6;
}
body main .Compra p {
  margin-bottom: 2rem;
}
body main .Compra div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  body main .Compra {
    top: 4rem;
  }
}
@media (max-width: 758px) {
  body main .Compra {
    margin-top: 18rem;
  }
}
