.Contacto{
    .Contacto_tittle{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    label[for="nombre"]{
        width: 162px;
    }
    label{
        width: 130px;
        margin: 0px;
    }
    .Contacto_flex{
        width: 100%;
        display: flex;
        gap: 20px;
        margin-bottom: 0px;
        input[type="text"]{
            width: 100%;
        }
        input[type="email"]{
            width: 120%;
        }
        .form-group{
            width: 100%;
        }
    }
}