.box {
  margin: 2rem auto;
}
.Promociones {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  max-width: 1300px;
  gap: 30px;
  justify-content: space-between;
}
.Promociones .games__box {
  background-color: #ffffff00;
  height: 232px;
  margin: 0px;
  border: none;
}
.Promociones .games__box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.Promociones .games__box-text {
  margin: 5px;
  text-align: justify;
}
.Promociones .games__box-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  max-width: 400px;
  width: 93%;
  margin: 1rem;
}
