.adjust-body {
    min-height: 100vh;
}

.register-main {
    padding-top: 2rem;
}

.login-container {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}

#register-form label {
    width: 110px;
    text-align: left;
    margin-right: 15px;
    display: inline-block;
}

label {
    width: 100%;
    max-width: 110px;
    text-align: left;
    margin-right: 15px;
    display: inline-block;
}
.form-select {
    width: 100%;
    min-width: 250px;
}
#create-user button{
    margin-bottom: 1rem;
    background-color: var(--button);
}
#create-user label[for="register-lastname"] {
    margin: 0px;
    width: 100%;
    max-width: 100px;
}
#register-form .form-group {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}
#create-user input[type="radio"]{
    transform: scale(2);
    max-width: 10px;
}

#register-form .form-select {
    width: 100%;
    min-width: 250px;
}

#register-form input,
#register-form select {
    flex: 1;
}

#register-form button[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--button);
    color: white;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#register-form button[type="submit"]:hover {
    background-color: #0b7dda;
}

@media (max-width: 768px) {
    #register-form .form-group {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #register-form label {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
    
    #register-form input,
    #register-form select {
        width: 100%;
    }
}

.hidden {
    display: none;
}

.success {
    background-color: rgba(25, 135, 84, 0.2); 
    color: #198754; 
    border: 1px solid #198754;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.error {
    background-color: rgba(220, 53, 69, 0.2); 
    color: #dc3545; 
    border: 1px solid #dc3545;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}
